table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 60%;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
div{
  display: flex;
  width: 80%;
  margin: auto;
  border: 0px solid blue;
  justify-content: space-around;
  padding: 10px;

}
form{
  
  border: 0px solid red;
  padding: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  
}
form > input,select{
  margin-bottom: 10px;
  border-radius: 3px;
}
#sub{
  width: 100%;
  border-radius: 10px;
  background-color: #0468aa;
  color: white;
}
table{
  
  border: 0px solid green;
  align-items: flex-start;
  margin: 0px;
}
tbody {
  height: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
thead > tr{
  background-color: #0468aa;
  color: white;
}