*{
    font-family: Arial, Helvetica, sans-serif;
}
#container{
    width: 30%;
    border: 0px solid black;
    margin-left: 300px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
nav{
    height: 100px;
    border-radius: 20px;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#leftnav{
    display: flex;
    align-items: center;
}
#proPhoto{
    border: 0px solid red;
    height: 40px;
    margin-left: 20px;
    border-radius: 20px;

}
img{
    max-width: 100%;
    height: 40px;
    border-radius: 20px;
}
#user{
    color: white;
    font-size: 30px;
    margin-left: 10px;
}
#lasticon{
    color: white;
    border: 0px solid white;
    font-size: 40px;
    display: flex;
}
.icon{
    margin: 20px;
}
#banner{
    margin-top: 10px;
    width: 100%;
    border: 0px solid red;
}
#banimg{
    width: 100%;
    height: 220px;
}

#moneytrans{
    height: 100px;
    border: 0px solid khaki;
    display: flex;
    color: black;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 0px;
}
.transIcon{
    height: 70px;
    width: 70px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background-color: blueviolet;
    border: 0px solid red;
    margin-bottom: 0px;
}
#iconName{
    display: flex;
    justify-content: space-around;
    font-size: larger;
    font-weight: bolder;
}
.nameIcon{
    margin-left: 20px;
}
.nameIcon:nth-child(1){
    margin-left: 10px;
}
.nameIcon:nth-child(2){
    margin-left: 15px;
}
#paybill{
    border: 0px solid blue;
    margin: 20px;
    
}
#contact{
    display: block;
}
.paybill{
    height: 100px;
border: 0px solid rgb(31, 29, 9);
display: flex;
color: black;
align-items: center;
justify-content: space-around;
padding-bottom: 0px;
}
.paybillIcon{

    height: 70px;
    width: 70px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: teal;
    margin-bottom: 0px;
}
h4{
    position: fixed;
}
.popup{
    position: fixed;
    height: 300px;
    width: 600px;
    border: 0px solid black;
    right: 18rem;
    top: 25rem;
    background-color: cornsilk;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.popup>div{
    text-align: center;
    height: 20px;
    margin-top: 50px;
}
.popup>div>input{
    height: 40px;
    width: 70%;
    text-align: center;
    font-size: large;
    border-radius: 10px;
    border: 2px solid brown;
}
.popup>div>button{
    height: 40px;
    width: 40%;
    font-size: large;
    font-weight: bold;
    
}
/* popup display for icon form */
#popupForContact{
    display: none;
}
#popupForBank{
    display: none;
}
#popupForSelf{
    padding-top: 50px;
    display: none;
}
#popupForBalance{
    display: none;
}
/* popup for message box */
.popupforMessage{
    position: fixed;
    height: 150px;
    width: 600px;
    border: 0px solid rgb(0, 0, 0);
    border-radius: 15px;
    right: 18rem;
    top: 8rem;
    background-color: rgb(0, 1, 0);
    color: rgb(251, 2, 2);

}
#popupForBalance>div{
    margin-top: 130px;
}
.popupforMessage>h1{
    margin-top: 6px;margin-bottom: 0px;
    text-align: center;
    color: skyblue;
}
/* popup message displays */
.popupforMessage{
    display: none;
}
#MessageforContact{
    display: none;
}
