*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #c7f9cc;
}
#search{
    border: 0px solid red;
    width: 90%;
    text-align: center;
    margin: auto;
    height: 50px;
    position: fixed;
    top: 1%;
    right: 2%;
    left: 2%;
}
#inpData{
    width: 90%;
    height: 90%;
    border-radius: 90px;
    background-color: #f5ebe0;
    color:#264653;
    text-align: center;
    border: 4px solid whitesmoke;

}
#display{
    width: 90%;
    border: 0px solid green;
    margin: auto;
    margin-top: 70px;
    /* display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px; */
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
}
.movieBox{
    padding: 0px;
    text-align: center;
    border: 0px dashed darkorange;
    width: 400px;
    align-items: center;
    margin-bottom: 10px;
    background-color: #a2d2ff;
    transition: transform .2s;
    border-radius: 20px;
    
}
.movieBox:hover{
    transform: scale(1.1);
    background-color: #edede9;
    
}
#poster>img{
    width: 100%;
    height: 510px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

button{
    position: absolute;
    top: 12.5px;
    right: 11%;
    border-radius: 90px;
    align-items: end;
    background-color: deepskyblue;
    border: 1px solid white;
    color: white;
    
}
#movieTitle{
    margin: 5px;
    color: red;
    font-weight: 600;
}
h2{
    text-align: center;
    display: none;
}
#heading{
    text-align: center;
}
#heading>h3{
    font-size: 50px;
    max-width: 100%;
    margin: 0px;
    margin-top: 20%;
}
span{
    color: #ffb703;
}