*{
  box-sizing: border-box;
}
#root {
  margin: 0 auto;
}

.btn{
  
  border-radius: 50px;
  margin-left: 10px;
  background-color: cornflowerblue;
  padding: auto;
}
.taskBox{
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-top: 10px;
}
.taskBox:hover{
  cursor: pointer;
}
.status{
  border: 0px solid  white;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  box-shadow: rgba(212, 212, 225, 0.2) 0px 7px 29px 0px;
}