#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.task{
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: space-between;
}
.heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
}